body{
  background-image: url(audi1.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}
h2{
    font-family: cursive;
    margin: 9rem auto;
    font-weight: 700;
    color: rgb(68, 209, 103);
    text-shadow:3px 1px 4px rgb(68, 209, 103);
    position: relative;
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes glow{
    0%{font-size: 1.5rem;letter-spacing: -2px;}

    100%{font-size: 1.6rem;letter-spacing: normal;}    
}
.time{
    color: rgb(255, 239, 219);
    font-size: 2.3rem;
    font-weight: 800;
    font-family: verdana;
    margin-top: -12rem;
    position: static;
}

